@using DrivingSchoolManagement.Helpers;
@{
    ViewBag.Title = "Welcome to our driving school";
    Layout = "../Shared/_rootLayout.cshtml";
}

<link href="@Url.ContentVersioned("~/Content/materialize.min.css")" rel="stylesheet" />
<script src="@Url.ContentVersioned("~/Scripts/materialize.min.js")"></script>

    <div class="row">
        @Html.Action("HomeCardPartial")
    </div>